    body {
      background-color: white;
    }

    .styledFont {
      color: green;
font-family: Arial, Helvetica, sans-serif;
    }

    #styledImage {
      border: 10px solid transparent;
      border-width: 15px;
      border-color: orange
    }